/* your css code here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  width: 100vw;
  background-color: #D3D3D3;
  padding: 10px;
}

.listItems {
  display: flex;       /* Cypress expects flex */
  list-style: none;    /* removes bullets */
}

.listItems li {
  margin-right: 1rem;
}
